# Applicaction
APP_NAME=mtas
APP_PORT=6070
APP_ENV=development

# Database
DB_NAME=databasename
DB_USER=username
DB_PASSWORD=password
DB_PORT=6071

# Full DSN
DATABASE_URL=postgres://username:password@localhost:8081/databasename
